body {
    margin: 0px;
    padding: 0px;
    background-color: #fef1df;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    min-width: 700px;
}

form {
    padding: 80px;
    background-color: white;
    border: 10px;
}

form h1 {
    font-size: 20px;
}

form .separation {
    width: 100%;
    height: 1px;
    background-color: #747cdf;
}

form .corps-formulaire {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

form .corps-formulaire .groupe {
    position: relative;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

form .corps-formulaire .gauche input .corps-formulaire .gauche .groupe select {
    margin-top: 5px;
    padding: 10px 5px 10px 30px;
    border: 1px solid #c9c9c9;
    outline-color: #747cdf;
    border-radius: 5px;
}

form .corps-formulaire .gauche .groupe i {
    position: absolute;
    left: 100%;
    top: 25px;
    padding: 9px 8px;
    color: #747cdf;
}

form .corps-formulaire .droite {
    margin-left: 40px;
}

form .corps-formulaire .droite .groupe {
    height: 100%;
}

form .corps-formulaire .droite .groupe .result {
    margin-top: 5px;
    padding: 10px;
    background-color: #f1f1f1;
    border: 2px solid #747cdf;
    border-radius: 5px;
    height: 100%;
    width: 330px;
}

form .pied-formulaire button {
    margin-top: 10px;
    background-color: #747cdf;
    color: white;
    font-size: 15px;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    transition: transform 0.5;
}

form .pied-formulaire button:hover {
    transform: scale(1.05);
}

@media screen and (max-width:920px) {
    form .corps-formulaire .droite {
        margin-left: 0px;
    }
}

.pied-formulaire {
    display: flex;
    justify-content: center;
}

.markFail {
    color: red;
}

.markSucced {
    color: lawngreen;
}